[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
pymysql = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
pydantic = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
bcrypt = "*"
jwt = "*"
pyjwt = "*"
python-dotenv = "*"
cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
